---
const {
  date,
  educationTitle,
  university,
  studyCenterUrl,
  additionalInfo = [],
  supervisor,
  supervisorUrl,
  advisor,
  advisorUrl,
  imageSrc,
  imageAlt,
  imageBoxClass = "w-64 h-20 p-3 bg-white rounded-sm",
  imageClass = "max-w-full max-h-full object-contain"
} = Astro.props;
---

<div class="flex">
  <div class="education__time">
    <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
    <span class="education__line bg-primary block h-full w-[2px] translate-x-[7px]"></span>
  </div>

  <div class="education__data bd-grid px-5">
    <h3 class="font-semibold text-xl">{educationTitle}</h3>

    <h3 class="font-semibold text-xl mt-1">{date}</h3>

    <p class="text-sm mt-1">
      {studyCenterUrl ? (
        <a href={studyCenterUrl} target="_blank" class="text-primary hover:underline">
          {university}
        </a>
      ) : (
        university
      )}
    </p>

    {additionalInfo && additionalInfo.length > 0 && additionalInfo.map((info, i) => (
      <p class="text-sm mt-1">
        {info.url ? (
          <a href={info.url} target="_blank" class="text-primary hover:underline">
            {info.text}
          </a>
        ) : (
          info.text
        )}
      </p>
    ))}

    {(supervisor || advisor) && (
      <p class="text-sm mt-1">
        {supervisor ? "Supervisor:" : "Advisor:"}
        <a
          href={supervisor ? supervisorUrl : advisorUrl}
          target="_blank"
          class="text-primary hover:underline ml-1"
        >
          {supervisor || advisor}
        </a>
      </p>
    )}

    {imageSrc && (
      <div class="mt-3">
        <div class={`flex items-center justify-center ${imageBoxClass}`}>
          <img
            src={imageSrc}
            alt={imageAlt ?? `${university} logo`}
            class={imageClass}
            loading="lazy"
          />
        </div>
      </div>
    )}
  </div>
</div>
